{% block content %}

    {% if product.count > 0 %}
    <h2>Список файлов: </h2>
    <table>
        <thead>
           <th>Id</th><th>Картинка</th><th>Кол-во</th><th>Ширина</th>
           <th>Длина</th><th>Дата создания</th><th>Стоимость</th><th></th>
       </thead>
        {% for product in product %}
        <tr>
            <td>{{ product.id }}</td>
<!--            <td>{{ product.name }}</td>-->
            <td><img src="{{ product.images.url }}" width="100px"></td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.width }}</td>
            <td>{{ product.length }}</td>
<!--            <td>{{ product.resolution }}</td>-->
<!--            <td>{{ product.color_model }}</td>-->
            <td>{{ product.created_at }}</td>
            <td>{{ product.price }}</td>


            <td><a href="edit/{{product.id}}">Изменить</a>
                <a href="delete/{{product.id}}">Удалить</a>
                <a href="calc/{{product.id}}">Посчитать</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}