{% extends 'base.html'%}
<title>{% block title %} Главная страница {% endblock %}</title>
{% block body %}
{% if price.count > 0 %}
    <h2>Материалы: цена за 1 м2: </h2>
    <table>
        <thead>
           <th>Id</th><th>Тип</th><th>Тип печати</th><th>Цена</th>
       </thead>
        {% for price in price %}
        <tr>
            <td>{{ price.id }}</td>
            <td>{{ price.name }}</td>
            <td>{{ price.type_print }} </td>
            <td>{{ price.price }} руб.</td>



        </tr>
        {% endfor %}
    </table>
    {% endif %}


    {% endblock %}